---

- name: "{{ beats_flavor }}: Setup Modules Directory"
  block:
    - name: "{{ beats_flavor }}: Copy modules.d directory from Docker container to host"
      command: >
        docker cp {{ beats_flavor }}:{{ beats_metricbeat_modules_dir }} {{ beats_metricbeat_modules_dir }}

    - name: "{{ beats_flavor }}: Replace Metricbeat installation script"
      copy:
        content: |
            #!/usr/bin/env bash

            docker pull docker.elastic.co/beats/{{ beats_flavor }}:{{ beats_major_version }}.{{ beats_minor_version }}.{{ beats_patch_version }}

            # Remove any existing container
            docker rm -f -v {{ beats_flavor }} || :

            # Run the MetricBeat container
            docker run --network=elastic --user root  --rm --name={{ beats_flavor }}  \
              -v "/var/run/docker.sock:/var/run/docker.sock:ro" \
              -v "/sys/fs/cgroup:/hostfs/sys/fs/cgroup:ro" \
              -v "/proc:/hostfs/proc:ro" \
              -v "/:/hostfs:ro" \
              -v {{ beats_certificates_dir }}:{{ beats_certificates_dir }} \
              -v {{ beats_path_config }}/scripts:{{ beats_path_config }}/scripts \
              -v {{ beats_path_config }}/{{ beats_flavor }}.yml:{{ beats_path_config }}/{{ beats_flavor }}.yml \
              -v {{ beats_path_config }}/fields.yml:{{ beats_path_config }}/fields.yml \
              -v {{ beats_metricbeat_modules_dir }}:{{ beats_metricbeat_modules_dir }} \
              -v {{ beats_path_data }}:{{ beats_path_data }} \
              -v {{ beats_path_logs }}:{{ beats_path_logs }} \
              docker.elastic.co/beats/{{ beats_flavor }}:{{ beats_major_version }}.{{ beats_minor_version }}.{{ beats_patch_version }} metricbeat -e \
              $BEAT_LOG_OPTS $BEAT_CONFIG_OPTS $BEAT_PATH_OPTS
        dest: "/usr/local/bin/{{ beats_flavor }}"
      notify: beats-restart-service
      
    - name: Run pending handlers now
      meta: flush_handlers

- name: "{{ beats_flavor }}: Upload modules on Linux"
  block:
    - name: "{{ beats_flavor }}: Upload module files (Linux)"
      template:
        src: "{{ _beats__module_file.src }}"
        dest: >-
          {{ beats_metricbeat_modules_dir }}/{{
            _beats__module_file.src | basename | regex_replace('^(.*)[.]j2', '\\1')
          }}
        mode: 0o644
      loop: "{{ beats_metricbeat_module_files }}"
      loop_control:
        loop_var: _beats__module_file
      when: _beats__module_file.src is defined
      notify: beats-restart-service

    - name: "{{ beats_flavor }}: Upload inline modules (Linux)"
      copy:
        content: "{{ _beats__module_file.content | to_nice_yaml(indent=2, explicit_start=True) }}"
        dest: "{{ beats_metricbeat_modules_dir }}/{{ _beats__module_file.dest }}"
        mode: 0o644
      loop: "{{ beats_metricbeat_module_files }}"
      loop_control:
        loop_var: _beats__module_file
      when: _beats__module_file.src is not defined
      notify: beats-restart-service
  when: ansible_os_family != 'Windows'


- name: "{{ beats_flavor }}: Upload modules on Windows"
  block:
    - name: "{{ beats_flavor }}: Upload module files (Windows)"
      win_template:
        src: "{{ _beats__module_file.src }}"
        dest: >-
          {{ beats_metricbeat_modules_dir }}/{{
            _beats__module_file.src | basename | regex_replace('^(.*)[.]j2', '\\1')
          }}
      loop: "{{ beats_metricbeat_module_files }}"
      loop_control:
        loop_var: _beats__module_file
      when: _beats__module_file.src is defined
      notify: beats-restart-service

    - name: "{{ beats_flavor }}: Upload inline modules (Windows)"
      win_copy:
        content: "{{ _beats__module_file.content | to_nice_yaml(indent=2, explicit_start=True) }}"
        dest: "{{ beats_metricbeat_modules_dir }}/{{ _beats__module_file.dest }}"
      loop: "{{ beats_metricbeat_module_files }}"
      loop_control:
        loop_var: _beats__module_file
      when: _beats__module_file.src is not defined
      notify: beats-restart-service
  when: ansible_os_family == 'Windows'

- name: "{{ beats_flavor }}: Enable metricbeat modules"
  block:
    - name: "{{ beats_flavor }}: Enable metricbeat modules on Linux"
      command: "docker exec {{ beats_flavor }} {{ beats_flavor }} \
          --path.data /usr/share/{{ beats_flavor }}/data \
          --path.config /usr/share/{{ beats_flavor }} \
          --path.home {{ beats_path_home }} \
          --path.logs /usr/share/{{ beats_flavor }}/logs modules enable {{ beats_metricbeat_modules | join(' ') }}"
      when: ansible_os_family != 'Windows'

    - name: "{{ beats_flavor }}: Enable metricbeat modules on Windows"
      win_command: "{{ beats_win_exec }} modules enable {{ beats_metricbeat_modules | join(' ') }}"
      when: ansible_os_family == 'Windows'
  when: beats_metricbeat_modules | length > 0
